<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="../static/img/leaf.png" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/effects.css') }}" />

    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }
      
      .page-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
      
      .content {
        flex: 1;
      }
    </style>

    {% block css %}

    {% endblock %}

    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>

  <body>
    {% include 'components/_navbar.html' %}
    <main>
      <div class="container mt-3">
        {% with messages=get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="mb-3">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} mb-2" role="alert">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
      {% block content %}

      {% endblock %}
    </main>

    {% include 'components/_footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      setTimeout(() => {
        const alertNode = document.querySelector('[role="alert"]')
        if (alertNode) {
          alertNode.remove()
        }
      }, 5000)
    </script>
  </body>
</html>
