{% extends 'base.html' %}
{% block title %}CalmSpace - Reset Password{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}" />
{% endblock %}

{% block content %}
  <section class="signup-section d-flex justify-content-center align-items-center">
    <div class="glass-card signup-card p-5">
      <h2 class="text-center mb-4">Verification</h2>

      <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control", placeholder="you@example.com") }}
        </div>

        {{ form.submit(class="start-btn w-100 mt-3") }}
      </form>
    </div>
  </section>
{% endblock %}
