{% extends 'base.html' %}
{% block title %}
  CalmSpace - Reset Password
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}" />
{% endblock %}

{% block content %}
  <section class="signup-section d-flex justify-content-center align-items-center">
    <div class="glass-card signup-card p-5">
      <h2 class="text-center mb-4">Reset Password</h2>

      <form method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" name="token" value="{{ token }}" />

        <div class="mb-3">{{ form.new_password.label(class='form-label') }}
          {{ form.new_password(class='form-control', placeholder='New Password') }}</div>
        <div class="mb-3">{{ form.confirm_password.label(class='form-label') }}
          {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}</div>

        {{ form.submit(class='start-btn w-100 mt-3') }}
      </form>
    </div>
  </section>
{% endblock %}
